<%= form_with(model: @island, local: true) do |form| %>
  <% if @island.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@island.errors.count, "error") %> prohibited
        this island from being saved:
      </h2>
      <ul>
        <% @island.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <% if form.object.image? %>
      <%= image_tag form.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </p>


  <p>
    <%= form.submit 'Validez' %>
  </p>
<% end %>
