<div class="container">
  <div class="row">
    <% booking = params['booking'] %>
    <div class="col-12">
      <h2><%= t('island.index.title') %></h2>
    </div>

    <div class="col-12 col-md-9">
      <% @islands.each do |island| %>
        <div>
          <span><%= island.title %></span>
          <%=
            link_to_if(booking.nil?, "Show", island_path(island)) do
                link_to('Show', island_path(island, :booking => { :start_date => booking['start_date'], :end_date => booking['end_date'] }))
            end
          %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-3">
      <% if !booking.nil? %>
        <h3>Date</h3>
        <div class="form-group">
          <label>Start :</label>
          <span><%= l Date.parse(booking['start_date']) %></span>
        </div>
        <div class="form-group">
          <label>End :</label>
          <span><%= l Date.parse(booking['end_date']) %></span>
        </div>
      <% end %>

      <%= form_tag(islands_path, method: :get) do %>
        <% if !booking.nil? %>
          <%= hidden_field :booking, :start_date, :value => booking['start_date'] %>
          <%= hidden_field :booking, :end_date, :value => booking['end_date'] %>
        <% end %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', name: nil%>
      <% end %>
    </div>
  </div>
</div>
