<% search = params['search'] %>
<h2><%= t('island.index.title') %></h2>

<% if !search.nil? %>
  <div>
    <div>
      <span>Start :</span>
      <span><%= l Date.parse(search['start_date']) %></span>
    </div>
    <div>
      <span>End :</span>
      <span><%= l Date.parse(search['end_date']) %></span>
    </div>
  </div>
<% end %>

<% @islands.each do |island| %>
  <div>
    <span><%= island.title %></span>
    <%=
      link_to_if(search.nil?, "Show", island_path(island)) do
          link_to('Show', island_path(island, :search => { :start_date => search['start_date'], :end_date => search['end_date'] }))
      end
    %>
  </div>
<% end %>
