<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to 'Back', islands_path %>
    </div>
  </div>

  <div>
    <div class="col-12 col-md-auto">
      <h2><%= @island.title %></h2>
      <h4>Localisation : <%= @island.location %></h4>
      <% if user_signed_in? && current_user.id == @island.user_id %>
        <%= link_to 'Edit', edit_island_path %>
      <% end %>
      <br />
      <% if !@island.average_rating.nil? %>
          Score : <%= @island.average_rating %>/5
      <% end %>
      <br />
      <span>Description : <%= @island.description %></span>
      <br />
      <% if !@island.image.nil? %>
        <img src="<%= @island.image %>">
      <% end %>
    </div>

    <div class="island__booking">
      <%= render "islands/book_island_sidebar" %>
    </div>
  </div>
</div>
