<h2><%= @island.title %></h2>
<% if user_signed_in? && current_user.id == @island.user_id %>
  <div><%= link_to 'Edit', edit_island_path %></div>
<% end %>

<p><%= @island.description %></p>

<% if !@island.image.nil? %>
  <img src="<%= @island.image %>">
<% end %>

<%= render "islands/book_island_sidebar" %>
<%= link_to 'Back', islands_path %>
