<h1><%= link_to 'Airbnb', root_path %></h1>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<div>
  <%= link_to 'Liste annonce', islands_path %>
  <% if !user_signed_in? %>
    <%= link_to 'Inscription', new_user_registration_path %>
    <%= link_to 'Identification', new_user_session_path %>
  <% else %>
    <%= link_to 'Créer une annonce', new_island_path %>
    <%= link_to 'Edit', edit_user_registration_path %>
    <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
  <% end %>
</div>

<%= render "partials/change_locale" %>
