<h2>Mes prochaines réservations</h2>
<% @bookings.are_done(false).each do |booking| %>
  <div>
    <span><%= booking.island.title %></span>
    <span><%= l booking.start_date %> - <%= l booking.end_date %></span>
    <span><%= link_to("Show island", island_path(booking.island)) %></span>
    <span><%= link_to("Booking detail", booking_path(booking)) %></span>
  </div>
<% end %>

<h2>Anciennes réservations</h2>
<% @bookings.are_done(true).each do |booking| %>
  <div>
    <span><%= booking.island.title %></span>
    <span><%= l booking.start_date %> - <%= l booking.end_date %></span>
    <span><%= link_to("Show island", island_path(booking.island)) %></span>
    <span><%= link_to("Booking detail", booking_path(booking)) %></span>
  </div>
<% end %>
