<div class="container ">
	<div class="row">
		<h2><%= t('home.hero.title') %></h2>
		<%= form_tag({controller: "islands", action: "index"}, method: "get") do %>
  		<p>
    		<%= label :booking, :start_date, "Start date" %><br>
    		<%= date_field :booking, :start_date, :value => Time.now.strftime("%Y-%m-%d") %>
  		</p>

  		<p>
    		<%= label :booking, :end_date, "End date" %><br>
    		<%= date_field :booking, :end_date, :value => Time.now.strftime("%Y-%m-%d") %>
  		</p>
  		<%= submit_tag 'Validez', class: 'btn btn-success' %>
		<% end %>
	</div>
</div>